################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

*.lock
/PBIPortal.Vue/node_modules
/PBIPortal.Net/PBIPortal.Web/bin
/PBIPortal.Net/PBIPortal.WebApi/bin
/PBIPortal.Net/PBIPortal.WebApi/Download/ExcelExport
/PBIPortal.Net/PBIPortal.WebApi/Download/Logger
/PBIPortal.Net/PBIPortal.WebApi/Download/SqlLog
/PBIPortal.Net/PBIPortal.WebApi/obj
/PBIPortal.Net/.vs
/PBIPortal.Net/PBIPortal.Entity/bin
/PBIPortal.Net/PBIPortal.Entity/obj
/PBIPortal.Net/PBIPortal.AppManager/bin
/PBIPortal.Net/PBIPortal.AppManager/obj
/PBIPortal.Net/PBIPortal.Builder/obj
/PBIPortal.Net/PBIPortal.Builder/bin
/PBIPortal.Net/PBIPortal.Core/obj
/PBIPortal.Net/PBIPortal.Core/bin
/PBIPortal.Net/PBIPortal.Order/obj
/PBIPortal.Net/PBIPortal.Order/bin
/PBIPortal.Net/PBIPortal.System/obj
/PBIPortal.Net/PBIPortal.System/bin
/PBIPortal.Net/PBIPortal.Web/obj
/PBIPortal.Net/PBIPortal.WebApi/Download/*
/PBIPortal.Vue/dist
/PBIPortal.Net/PBIPortal.WebApi/wwwroot/Upload/
/PBIPortal.Net/PBIPortal.Web
/PBIServer.SSO/bin
/PBIServer.SSO/.vs
/PBIPortal.Net/packages/Newtonsoft.Json.12.0.3
/PBIPortal.Net/PBIPortal.APP/bin/Debug/netcoreapp3.1
/PBIPortal.Net/PBIPortal.APP/bin/Release/netcoreapp3.1
/PBIServer.SSO/packages/Newtonsoft.Json.12.0.3
/PBIServer.SSO/obj/Release
/PBIServer.SSO/obj/Debug
