<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DbConnectionString" value="Data Source=192.168.2.49;Initial Catalog=PBI_SSO_DB;Persist Security Info=True;User ID=sa;Password=p@ssw0rd;Connect Timeout=500;"/>
    <add key="webUrl" value="http://192.168.2.49/"/>
  </appSettings>
</configuration>